node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs
.pnp.loader.mjs
.yarn/cache
.openzeppelin

# testing
/coverage

# production
/build

# JetBrains IDE
.idea/

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.local
.env.development.local
.env.test.local
.env.production.local


# next.js
/.next/
/out/

# misc
*.pem


# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#python scripts venv
streams/venv
streams/.env